<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp defaultBodyStyle="Wrapped" />
        </behavior>
        <behavior name="wsHttp">
           
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRiskSimulator" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding_IRiskSimulator" />
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="WsHttpBinding_IRiskSimulator">
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://risksimservice.azurewebsites.net/RiskSimulator.svc/BasicHttp"
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IRiskSimulator"
                contract="RiskSimulatorService.IRiskSimulator" 
                name="BasicHttpBinding_IRiskSimulator" />

      <endpoint address="http://risksimservice.azurewebsites.net/RiskSimulator.svc/WsHttp"
          binding="wsHttpBinding"
          bindingConfiguration="WsHttpBinding_IRiskSimulator"
          contract="RiskSimulatorService.IRiskSimulator"
          name="WsHttpBinding_IRiskSimulator" />

      <endpoint address="http://risksimservice.azurewebsites.net/RiskSimulator.svc/WebHttp"
          binding="webHttpBinding"
          behaviorConfiguration="webHttp"
          bindingConfiguration="WebHttpBinding_IRiskSimulator"
          contract="RiskSimulatorService.IRiskSimulator"
          name="WebHttpBinding_IRiskSimulator" />
    </client>
  </system.serviceModel>
</configuration>